name: Auto Test by PR

on: pull_request_target

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      # - uses: hmarr/auto-approve-action@v3
      #   with:
      #       github-token: ${{ secrets.AUTO_PR_TEST_APPROVE }}
      #       exclude_authors: chen1415
      - name: Install modules
        run: npm install
      - name: PR build
        run: npm run build-pr
      - name: Run tests
        run: npm run test
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
